* {
  padding: 0px;
  margin: 0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.listContainer {
  background-color: #3234383b;
  list-style: numeric;
  padding-top: 20px;
  padding-left: 20px;
}

.logo {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.newsFeed {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-bottom: 40px;
  list-style: numeric;
}

.newsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0rem;
  padding-left: 20px;
}

.app h1 {
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navItem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.newsTitle {
  display: flex;
  flex-direction: row;
}

.numbers {
  margin-right: 10px;
}

.headerBar {
  padding-top: 10px;
  padding-left: 10px;
  background-color: darkorange;
  border-bottom: 3px solid white;
}